<label class="form-label">Server Name</label>

<!-- To Set-up Event Binding -->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->

<!-- To Set-up Two Binding -->
<input type="text" class="form-control" [(ngModel)]="serverName" />

<button
  class="btn btn-primary"
  [disabled]="!allowServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>

<ng-template #noServer><p>No server was created.</p></ng-template>
<app-server>1</app-server>
<app-server>2</app-server>
